# Tutorial 01

## 0 Introduction

### 01 왜 파이썬을 배우러 오셨습니까?
미래의 지구는 인간 만으로는 살기 어렵다는데

정 안되면 자연으로 돌아가려고 생각 중...

<img src="http://cdn.pingwest.com/wp-content/uploads/2016/03/DSCF3721.0.jpg" align='left' width=600>

### 02 이 수업의 내용을 간단히 설명해 드리겠습니다
본인의 학습 동기를 잊지말고 꾸준이 유지하자.. 

그만큼 갈 길이 멀고, 다양하고, 그리고 강력하다!!

In [1]:
### 1) Python 기본문법 - 기본문법 등을 아래의 3가지 서랍속에 체계적 정리하기 
# 1. Data :  숫자, 문자, 이미지, 동영상 etc...
# 2. Function : 기본함수/모듈(객체지향) , 외부함수/모듈(객체지향)
# 3. 연결기호 : 각 개별적 쓰임새가 정해져 있다!.

In [2]:
### 2) Pandas & Numpy
# 1. Numpy : 엑셀 내부 함수 (Cell 의 연산/ 속성/ 사용자정의)
# 2. Pandas : 엑셀 메뉴 버튼들 (표만들기/ Pivot Table 만들기 / 간단한 Bar,line graph)
# 3. Matplotlib : 엑셀 시각화 도구 틀

In [3]:
### 3) Google Sheet 와 Slack 등을 할용한 Python 의 응용
# 1. 데이터 Google Sheet에서 불러오기/ 저장하기
# 2. Slack으로 작업종료 메세지, 중간처리 메세지 전달하기

### 03 Python을 활용하면 무엇이 가능한가
Simple example..... Web Crawling

http://finance.daum.net/item/main.daum?code=047810

In [4]:
import pandas as pd
web = pd.read_html("http://finance.daum.net/item/main.daum?code=047810")
web[3]

,0,1,2,3,4,5,6,7,8
0,주요재무지표,분기,연간,NaN,NaN,NaN,NaN,NaN,NaN
1,2016/03,2016/06,2016/09,2016/12,2013,2014,2015,2016,NaN
2,IFRS 연결,IFRS 연결,IFRS 연결,IFRS 연결,IFRS 연결,IFRS 연결,IFRS 연결,IFRS 연결,NaN
3,매출액(억원),7105,8013,8014,7872,20163,23148,29010,31006.00
4,영업이익(억원),812,950,940,446,1245,1612,2856,3149.00
5,당기순이익(억원),752,684,464,779,903,1110,1805,2681.00
6,EPS(원),772,702,476,800,924,1140,1852,2751.00
7,ROE(%),6.33,5.51,3.57,5.71,9.74,11.12,16.35,20.80
8,부채비율(%),126.65,120.09,124.77,108.58,105.51,102.69,131.45,108.58
9,주당배당금(원),-,-,-,680,200,250,400,680.00

In [5]:
# 이 차제도 다른 JAVA, C++, Delphi, Scala 등에 비교하면 간단은 하지만,
# 몇번의 Click 만으로도 작업이 되는 MS office, PowerBI, 한컴오피스 등에 비교하면 효율성 떨어진다
# 하지만.....

In [6]:
df = web[3]
df.iloc[0,1:] = list(df.iloc[1,:-1])    # 일자 엇갈린 데이터 재정렬
df.columns = df.iloc[0]                 # 컬럼 만들기
df.reindex(df.index.drop([0,1,2])) # Drop the 2nd row:

0     주요재무지표 2016/03 2016/06 2016/09 2016/12    2013    2014    2015    2016
3    매출액(억원)    7105    8013    8014    7872   20163   23148   29010   31006
4   영업이익(억원)     812     950     940     446    1245    1612    2856    3149
5  당기순이익(억원)     752     684     464     779     903    1110    1805    2681
6     EPS(원)     772     702     476     800     924    1140    1852    2751
7     ROE(%)    6.33    5.51    3.57    5.71    9.74   11.12   16.35    20.8
8    부채비율(%)  126.65  120.09  124.77  108.58  105.51  102.69  131.45  108.58
9   주당배당금(원)       -       -       -     680     200     250     400     680

In [7]:
# 위 내용을 함수로 만들어 보자
def daum_fin_sheet(code):
    import pandas as pd
    web = pd.read_html("http://finance.daum.net/item/main.daum?code="+code)
    df = web[3]
    df.iloc[0,1:] = list(df.iloc[1,:-1])    # 일자 엇갈린 데이터 재정렬
    df.columns = df.iloc[0]                 # 컬럼 만들기
    df = df.reindex(df.index.drop([0,1,2])) # Drop the 2nd row
    return df

In [8]:
daum_fin_sheet('005930')

,주요재무지표,2016/03,2016/06,2016/09,2016/12,2013,2014,2015,2016
3,매출액(억원),497822,509371,478156,533317,2286926,2062059,2006534,2.01867e+06
4,영업이익(억원),66758,81439,52000,92208,367850,250250,264134,292406
5,당기순이익(억원),52528,58473,45378,70880,304747,233943,190601,227260
6,EPS(원),31481,35400,27099,42912,175282,135673,109883,136760
7,ROE(%),3.05,3.35,2.53,3.85,22.80,15.06,11.16,12.48
8,부채비율(%),35.28,34.16,36.17,35.87,42.7,37.09,35.25,35.87
9,주당배당금(원),-,1000,-,27500,14300,20000,21000,28500

In [9]:
# http://dart.fss.or.kr/dsac001/mainY.do # 유가증권 최근공시
# http://dart.fss.or.kr/dsac001/mainK.do # 코스닥시장 최근공시
# http://dart.fss.or.kr/dsac001/mainAll.do # 전체 최근공시
from intro import dart_main_table
df = dart_main_table('http://dart.fss.or.kr/dsac001/mainAll.do')
df.head()

,시간,공시대상회사,보고서명,제출인,접수일자
0,18:44,유플러스엘티이제삼십사차유동화전문유한회사,[발행조건확정]증권신고서(유동화증권),유플러스엘티이제삼십사차유동화전문유한회사,2017.08.07
1,18:25,폭스브레인,전환청구권행사 (제5회차),폭스브레인,2017.08.07
2,18:22,동양,불성실공시법인지정예고,유가증권시장본부,2017.08.07
3,18:07,삼화왕관,[기재정정]주요사항보고서(자기주식취득결정),삼화왕관,2017.08.08
4,18:06,동양,증권관련집단소송의불허가결정,동양,2017.08.07

In [10]:
# 반복적이고 규칙적인 작업을 파이썬 코드로 작업을 해 두면 훨씬 능률적!!
# VBA 는 MS 환경에 제한되나, Python 은 '라즈베리파이PC'등 다양한 환경에서도 똑같은 결과를 구현
# 용량이 큰 금융데이터를 쉽게 
# tensorflow 및 Py-torch 등의 '머신러닝 학습' 실습코드들이 공개되어 있다.

# 이 수업을 통해 본인이 반복적 작업하는 내용 중, 하나정도를 실습으로 만들어 보자!!

<img src="http://cfile3.uf.tistory.com/image/275AF04159577681118067" align="left">

In [ ]:
# 내용이 어려운 것이 절대 아니다!!! 
# (영어 공부하는데 200개의 단어의 뜻만 암기하고, 1~3가지 문법만 알면 끝난다면!! 이 얼마나 적은 학습량인가??)
# 단지 익숙하지 않을 뿐... 곤란한 당신의 이유는 단지 이것 뿐이다..
# 이걸 2주만에 익히지 못하는건 당연하다.. 추후 10회독 반복복습을 하면 자연스럽게 익힐 수 있다!!

## 1 Let's Start

### 00 코딩 Coding 이란
컴퓨터에게 영어로 명령을 내리는 것

In [11]:
# ## 영어를 공부할 떄..!!
# 1. 해당 문단의 '전체주어' 와 '전체동사'를 파악 - 문단 전체의 흐름
# 2. '관계부사/대명사' 등 특수목적 단어로 세부 흐름을 분석
# 3. 개별 주어// 동사// 목적어 또는 부사의 내용을 해석 
#
# 4. 중요한 부분만 단어찾고, 덜 중요한 부분은 skip!!!!!!!!!!!!!!
# 5. Voca 22000, 5형식 문법, 도치, 강조문법, idioms

In [12]:
# What is Python !!!
# 1. 인터프리터 (1줄씩 해석 후 실행: 원시적) 가 아닌 
#    컴파일 언어 (전체를 해석 후 실행: 인간에게 더 쉽게 작업이 가능, 일부 오류시 전체가 장애)
# 2. so.. 다른 코딩 언어보다 짧고 간단한 구조로 구성
# 3. ex.. 문법 중 주요부분은 indent, ':(콜론)' 로 대체 
#    and. 문법에도 사칙연산이 활용 (파이썬의 특징)

for i in range(1,10):
    if i % 3 == 0:
        print('*' * i)

***
******
*********

In [13]:
# 파이썬 코딩의 기본 3요소
# 1.Data,  2.함수,  3.연결부호

In [14]:
# 1. Data
# 숫자   :  연산  
# '문자' :  counting, slicing, 문자열 더하기
# 변수명  :  문자만 가능 (내부는 수정 변환이 가능)
# [list형 데이터] - 숫자/ 문자
# {dict형 데이터} - { key값 : value값 } - 숫자 /문자
# (tuple1, tuple2) : 병렬처리, 수정불가능 (2개 , 3개 ... n개), 꼭 짝은 맞아야 한다!!)
# ex) (tuple1, tuple2) : 컴퓨터 연산처리 결과 (편집이 어려워서 사용자가 건드리는 경우는 거의 없다)

In [15]:
# 2. 연걸부호
# . 종속   
# , 병렬나열
# : 내부설계
# = 입력
# == 대등조건
# != 부 대등조건
# '' , ""  문자열 지정 (연산 불가능한 객체)

In [16]:
# 3. 함수
# 파이썬 기본함수/ 모듈(class)
# 파이썬 외부함수/ 모듈(class)

## 1 Datum
Just Do something.......

In [17]:
# 1. Data (Datum) :  숫자, 문자
#         (Data ) : [list] {dict} (tuple)

### 01 숫자
가장 범용적인 객체
  1. 정수(integer) - Counting : index, slicing 
  2. 실수(float) - 연산

In [18]:
# integer 
1 + 2

3

In [19]:
30 / 4

7.5

In [20]:
30 // 4   # 몫

7

In [21]:
30 % 4    # 나머지

2

### 02 문자
  1. datum - 연산이 불가능/ 딱 3가지만 가능..
  2. data - 객체명

In [22]:
# 1. 연산이 불가능
# '박근혜' + '최순실' = '최태민'
# '문재인' // '홍준표' = '이혜훈'
# 2. So.. 문자로 할 수 있는건 딱 3가지
# 문자 연결
# Indexing/ Slicing
# 같은 문자/ 단어 Counting....

In [23]:
'0'

'0'

In [24]:
# 문자 연결
"10" + '2'

'102'

In [25]:
# 파일과 폴더명이 여럿을 관리할 떄
'대한'+'2017'+'대한회계사회'+'gogo!!'

'대한2017대한회계사회gogo!!'

In [26]:
# indexing : 특정 지점을 콕 집는다.
# ex) 단어의 오타 수정시
gogo = '20,000,000$'
gogo[0]

'2'

In [27]:
# indexing : 특정 지점을 콕 집는다.
# ex) 화폐의 단위표시 및 기호의 추출
gogo[-1]

'$'

In [28]:
# slicing : 특정 범위를 출력 
# ex) 단어의 일부분만 확인이 필요할 떄
gogo[:2]     # [start_index : end_index]

'20'

In [29]:
# 문자 (data)
codes = '005390'
codes + ' is SamsungElectronic inc'

'005390 is SamsungElectronic inc'

In [30]:
codes = 1234
codes + ' is SamsungElectronic inc'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
# 문자 <--> 숫자
code_str = '005390'
type(code_str)

str

In [32]:
# string to integer
int(code_str) + 1000

6390

In [33]:
# 숫자 <--> 문자
code_int = 1234
type(code_int)

int

In [34]:
float(code_int)

1234.0

In [35]:
# integer to string
str(code_int)

'1234'

In [36]:
str(code_int) + 1000

TypeError: must be str, not int

## QUIZ
'2017년 대한민국' 에서 '2017' 를 숫자로 뽑아내라...

    start>>>
    text = '2017년 대한민국'  

    tips>>
    1. slicing 으로 '2017' string 을 추출
    2. '2017' 를 숫자로 변환하라

## 2 Data
[ List ] , { dictionary : 설명 }

### 01 [ list ]
자료관리 Basic !!!, 다른 자료형 학습시 [list]와 항상 비교하며 정리 !!!

In [37]:
lists = [1,2,3,'회계','재무']
len(lists)  # len() : 내부함수

5

In [38]:
# indexing : 꼭! 찝어내기
# cf) 위 String 의 indexing 과 비교하며 이해할 것!
lists[0]

1

In [39]:
# -1 은 맨 뒤에서 부터 카운팅   
lists[-1]

'재무'

In [40]:
# Slicing : 범위설정
# cf) 위 String 의 Slicing 과 비교하며 이해할 것!
lists[3:6]      # [start_index : end_index]

['회계', '재무']

In [41]:
lists[:3]

[1, 2, 3]

In [42]:
lists[:-2]  # 파일이름의 확장자 구별시 활용

[1, 2, 3]

In [43]:
lists_txt = ['Python','Jupyter']

In [44]:
# .append()   :    list의 메소드 함수
lists.append(2017)  
lists

[1, 2, 3, '회계', '재무', 2017]

In [45]:
lists.append(['08-15','22:00:30'])
lists

[1, 2, 3, '회계', '재무', 2017, ['08-15', '22:00:30']]

In [46]:
lists.append(lists_txt)
lists

[1, 2, 3, '회계', '재무', 2017, ['08-15', '22:00:30'], ['Python', 'Jupyter']]

In [47]:
# [list] 객체간 사칙연산을 활용 : 꼭 동일한 객체만 가능
# 이는 'string' 과 동일
lists_txt + lists

['Python',
 'Jupyter',
 1,
 2,
 3,
 '회계',
 '재무',
 2017,
 ['08-15', '22:00:30'],
 ['Python', 'Jupyter']]

In [48]:
# List 내부 Data : 숫자, 문자
# List 내부 Index : 0,1,2,3,4....... (only Integer)

#  장점 : 만들기가 쉽다
#      : 인덱스 주소만 알면 검색과 활용이 쉽다.
#      : matrix 구조를 활용하면 대용량 데이터도 처리가 가능하다

#  단점 : 무조건 0부터 작업을 시작 (for 문을 활용시 주요한 특징)
#      : 1게 list가 100만개 데이터를 갖고 있으면, 이 리스트를 10번 검색하는 경우 무조건 100만번 + N 번의 작업이 필요 ()

## QUIZ 01
lists = [2017, '년', '대한민국'] 의 자료를 활용해서
'2017년대한민국' 1개의 문자열로 변환해 보시오.

    start>> 
    lists = [2017, '년', '대한민국']
    
    tips>>
    1.lists[0] 의 인덱스를 활용해서 각각의 객체를 추출
    2. 문자와 문자 객체를 + 를 통해서 1개로 합친다

In [49]:
lists = [2017, '년', '대한민국']

## QUIZ 02
name =  ['한국항공우주', '대우조선해양'] , code = ['047810', '000300'] 를 이용해서

['한국항공우주', '047810', '대우조선해양' ,'000300'] 객체를 만들어보자

    start>>>
    text = '2017년 대한민국'  

    tips>>
    1. .append()를 활용해서 객체를 연결한다  # 1개의 index 속에 쑤셔넣는다.
    2. + 를 활용해서 순서를 바꿔서 연결한다   # 고유 index를 유지

In [50]:
name =  ['한국항공우주', '대우조선해양']
code = ['047810', '000300']

In [51]:
df = [name[0]] + [code[0]]     # 고유한 주소값을 그대로 유지한다
df.append([name[1],code[1]])   # 1개 주소에 입력을 한다
df

['한국항공우주', '047810', ['대우조선해양', '000300']]

### 02  { Dictionary_key :  _value } 
List 를 보완, index 의 확장 (index를 'String'도 가능)  

DataFrame 표를 만드는 기본포맷

In [57]:
# List 생성 및 indexing
dictionary = {'005390':'삼성전자', '035420':['네이버','NAVER','Naver','naver']}
dictionary

{'005390': '삼성전자', '035420': ['네이버', 'NAVER', 'Naver', 'naver']}

In [56]:
dictionary['035420']

['네이버', 'NAVER', 'Naver', 'naver']

In [58]:
# List 데이터 추가
dictionary['000660'] = 'SK하이닉스'
dictionary

{'000660': 'SK하이닉스',
 '005390': '삼성전자',
 '035420': ['네이버', 'NAVER', 'Naver', 'naver']}

In [59]:
# Debit(차변) , Credit(대변)
sheet = {'Debit':{'Lease':1_300_000 , 'Cash': 700_000},
         'Credit':{'Cash':2_000_000}}

In [60]:
import pandas as pd
pd.DataFrame(sheet)

          Credit    Debit
Cash   2000000.0   700000
Lease        NaN  1300000

In [61]:
sheet.keys()

dict_keys(['Debit', 'Credit'])

In [62]:
sheet['Debit']

{'Cash': 700000, 'Lease': 1300000}

In [63]:
sheet['Debit'].keys()

dict_keys(['Lease', 'Cash'])

In [64]:
sheet['Debit'].values()

dict_values([1300000, 700000])

In [65]:
# dictionary = { key값 : value }

# 장점 : 상대적으로 만들기가 쉽다
#     : 검색이 빠르다, Key값이 일치하면 바로 결과를 출력
#     : 1개 key 값에 value는 여러개도 가능 (value 값도  [list],{ dict} 모두 가능)

# 단점 : 순서가 없어서 정렬을 할 수 없다.
#     : key값의 오타로 비슷한 key 값들이 중복되어 존재할 가능성이 있다
#     : key값과 value를 모두 알아야만 자료를 찾을 수 있다.

## QUIZ 01
dictionary = {'005390':'삼성전자', '035420':'네이버'} 자료를 통해서

'005390'을 활용해서 '삼성전자'를 출력하라

        start>> 
        dictionary = {'005390':'삼성전자', '035420':'네이버'}

## QUIZ 02
dictionary = {'005390':'삼성전자', '035420':'네이버'} 자료를 통해서

'030200' 코드인 'KT'를 추가하라

        tips>>
        1.딕셔너리 추가
        dictionary ['key문자열'] = 'value 문자열'

In [66]:
dictionary = {'005390':'삼성전자', '035420':'네이버'}

### 03  ( tuple)
컴퓨터가 연산한 결과

생성 후에는 임의 수정이 불가능하다 !!

In [67]:
dictionary = {'005390':'삼성전자', '035420':'네이버'}

In [68]:
items = dictionary.items()
items

dict_items([('005390', '삼성전자'), ('035420', '네이버')])

In [69]:
len(items)

2

In [71]:
items[0]

TypeError: 'dict_items' object does not support indexing

In [76]:
# [ list ] 객체로 변환해서 index을 활용한다
items = list(items)
samsung = items[0]
samsung

('005390', '삼성전자')

In [73]:
type(samsung)

tuple

In [74]:
print(samsung[0],samsung[1])

005390 삼성전자

In [75]:
# tuple 은 입력 후 수정이 불가능하다
# 고유한 값을 지정이 필요한 경우에만 활용
samsung[0] = 'samsung'

TypeError: 'tuple' object does not support item assignment

In [ ]:
### 복습
# len()
# type()
# int()
# float()
# str()
# list()
# dict()

In [ ]:
# 숫자
# integer(정수) : index, slicing, counting
# float(실수) : 연산

# 문자
# 'datum' :  문자와 문자의 사칙연산,  Indexing/ Slicing,  Counting....
# data  :  매개변수

# [ list ]   :  integer index 값이 숨어있다. (0 ~ -1)

# { key : value }