# Tutorial 04

## 0 Review()

In [1]:
# 파이썬 코딩의 기본 3요소
# Data,  함수,  연결부호

In [2]:
# 01 Data

# 숫자 (integer)
# integer(정수) : index, slicing, counting
# float(실수) : 연산

# 문자 (string)
# 'datum' :  문자와 문자의 사칙연산,  Indexing/ Slicing,  Counting....
# data  :  매개변수
# .format( tuple )

# [ list ] :  integer index 값이 숨어있다. (0 ~ -1)
# enumerate()  : enumerate - 열거하다 , 차례로 들다

# { dict } :  { key : value }
# .items()

In [3]:
# 02 연결부호

# '' , ""  문자열 지정 (연산 불가능한 객체)
# . 종속   
# , 병렬나열
# : 내부설계
# = 입력

# is           # if 판단문
# == 대등조건
# != 부 대등조건
# in           # if 판단문, for 반복문
# not in

In [4]:
# 03 함수

# 반복문 : for, while, loop.....   
#     1.list. dict같은 반복 조건이 필요
#     2. 같은 조건/ 함수/ 내용을 반복
#     3. range( start, end, step )

# 판단문 : if    -  True / False
    
# [list 내부활용 함수문]

In [5]:
# 1. Series
# 2. ndarray
# 3. Dataframe : 생성/ 변경

In [1]:
# 04. pandas Series

# pd.Series( [ data ] , index = [ index ])

# index, values
# series.plot(kind = 'line')

# series 사칙연산
# series [ Boolean 함수 ]
# series.index = [ list ]

# series.isnull()
# series.drop( )

In [ ]:
# 05. pandas DataFrame

# pd.DataFrame( { columns :  [ data ] ,
#                 columns :  [ data ] } )

# df.column이름
# df.rename( columns = { 기존 column , 새로운 column } )
# df.insert( 컬럼순서,  컬럼명 ,  data )

# df[ index Slicing ]
# df.iloc[ index slicing,  column slicing ]
# df.reset_index()        :  index  -> column
# df.set_index( '컬럼명' ) :  column -> index

In [ ]:
# 06. pandas DataFrame

# df[ boolean 함수 ].column이름

# axis = 0 : index
# axis = 1 : column
# df.drop( 'index이름'  , axis = 0 )
# df.drop( 'column이름' ,  axis = 1 )

# df.index.tolist()
# df.column.tolist()

In [ ]:
# df.sort_index ( axis = 0/1) 
# df.sort_value ( by = '인덱스/컬럼명' , axis = 0/1)

# 테이블 기술통계 : 꼭 뒤에 ()를 붙여야 결과가 출력된다.

# .count( axis = 0/1 , skipna = True/False)
# .describe()
# .min()     .max()
# .idxmin()  .idxmax()
# .quantile()   
# .sum()
# .mean()    .median()
# .var()     .std()      분산      정규분산
# .cov()     .corr()     공분산     표준편차
# .cumsum()  .cumprod()  누적 합    누적 곱
# .cummin()  .cummax()   누적최소값, 누적최대값

In [ ]:
# df / Series [ Series filter 조건 ]    # 조건이 True 인 index 를 기준으로 출력

# df.iloc[ 인덱스 , 컬럼 ]   # Excel VBA 의 Cells 처럼 위치값 순서값만 인식
#                         # 이를 통해서, 부분 잘라내기 및 재정렬을 할 수 있다.

# df.ix[ 인덱스 , 컬럼 ]    # 위치값 과 인덱스 컬럼 이름으로 index 를 인식
#                         # 인덱스/ 컬럼이 숫자로 구성된 경우, 이름을 우선적 기준으로 작동
#                         # 이를 통해서, 부분 잘라내기 및 재정렬을 할 수 있다.

In [ ]:
# 07. time()
# time.time()            # timestamp 결과값을 출력 - 1970.1.1을 시작으로 초단위 값을 출력

# 08. datetime()
# datetime.datetime()    # 년 월 일 시 분 초를 각 각 구별가능한 객체로 출력
# datetime.datetime.now()
# datetime.datetime('2017', '01', '01, '12', '00', '00)
# datetime객체 .strftime('%Y-%m-%d')           # 화면에 출력할 형태를 정의  
#                                             # %는 .format() 을 재활용

# pd.date_range( 'start date' , 'end date' , period =  , freq = )
# df.ix[ '2015':'2017]                        # index 가 datetime 인 경우, 날짜값으로 slicing
# series.rollind(묶음기준기간).mean()            # 묶음기간의 평균값을 계산한다

In [ ]:
# 08. lambda, filter, map 
# for 문은 무게가 크고 불필요한 정보도 메모리에 올려서 연산을 한다

# map    : 연속된 객체에 '모두'에 연산할 함수들을 연결만 한다   # result( map 객체 )  : 순차적 처리
# filter : 연속된 객체중 '조건이 True'인 객체의 결과만 저장한다. 

# lambda : 해당객체의 위치에서 연산하고, 결과를 출력하는 반복자 
# for 문에 비해 개념이 어럽지만, 대용량 복잡한 처리시 속도차이가 크므로 자주 쓰도록 노력하자

## 6. Web Crawling
웹의 데이터를 불러와서 활용하기

https://developer.mozilla.org/ko/docs/Web/HTML/Element/table

### 01 Web 페이지의 테이블 가져오기
'http://dart.fss.or.kr/' 메인페이지 많이 본 문서 크롤링

In [41]:
# 웹 페이지 속 DataFrame 변환 가능한 테이블 모두 가져오기
web_tables = pd.read_html('http://dart.fss.or.kr/')
len(web_tables)

5

In [44]:
web_tables[4]

   결산월                 제출기한    보고서명
0    3  2017-08-14  (08-29)  1분기보고서
1    9  2017-08-14  (08-29)  3분기보고서
2   12  2017-08-14  (08-29)   반기보고서
3    5           2017-08-29   사업보고서

In [49]:
# 여러 테이블 합치기
df = pd.concat([web_tables[0], web_tables[1], web_tables[2], web_tables[3]] ,axis = 0)
df

   순위      회사명                    보고서명
0   1     삼성전자                   분기보고서
1   2     삼성전자                   사업보고서
2   3       선진                   반기보고서
3   4   현대종합상사                   반기보고서
4   5   한국항공우주        풍문또는보도에대한해명(미확정)
0   6     대화제약                   반기보고서
1   7  HB테크놀러지                   반기보고서
2   8      컴투스  연결재무제표기준영업(잠정)실적(공정공시)
3   9    파라다이스  연결재무제표기준영업(잠정)실적(공정공시)
4  10    CS홀딩스          영업(잠정)실적(공정공시)
0  11    이테크건설  연결재무제표기준영업(잠정)실적(공정공시)
1  12   한국토지신탁  연결재무제표기준영업(잠정)실적(공정공시)
2  13   CJ E&M  연결재무제표기준영업(잠정)실적(공정공시)
3  14    와이지-원  연결재무제표기준영업(잠정)실적(공정공시)
4  15     롯데쇼핑                   반기보고서
0  16    파라다이스  연결재무제표기준영업(잠정)실적(공정공시)
1  17    테라세미콘  연결재무제표기준영업(잠정)실적(공정공시)
2  18    모다이노칩  연결재무제표기준영업(잠정)실적(공정공시)
3  19      인바디  연결재무제표기준영업(잠정)실적(공정공시)
4  20  이녹스첨단소재  연결재무제표기준영업(잠정)실적(공정공시)

### 02 Web 페이지의 상세정보 가져오기
'http://dart.fss.or.kr/' 메인페이지 많이 본 문서 url 값 가져오기

In [5]:
# Web 의 간단개요..

# request ( 접속하는 사용자가 Server에 요청)          # 필요한 도서를 대출신청
# response ( server 에서 결과값을 반응)             # 해당 도서를 빌려준다 / 도서가 없다 404

# web crawling
# 서버에서 response 한 정보중 내가 필요한 부분만 Scrap  # 도서 중 필요한 부분만 Scraping 한다
# Scraping은 해당 도서가 잘 뜯기는 방향으로 잘 뜯는다    # Html Tag 구조를 간단하게 이해하기

# 여기서는 해당 Web Page 의 Table 만을 기준으로 알아보자

<table>
  <tr>
    <td>John</td>
    <td>Doe</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td>Doe</td>
  </tr>
</table>

In [30]:
div = ['tab1c1', 'tab1c2',  'tab1c3',  'tab1c4']

In [75]:
url = 'http://dart.fss.or.kr/'
import requests
response = requests.get(url)

In [66]:
from lxml.html import fromstring, tostring
html = fromstring(response.text)

# html 중 <table> 태그를 기준으로 xpath를 지정 한 부분의 html을 지정
hrefs = html.xpath('//div[@id="tab1c1"]//tr/td/a/@href')
hrefs

['/dsae001/selectPopup.ax?selectKey=00126380',
 '/dsaf001/main.do?rcpNo=20170515003806',
 '/dsae001/selectPopup.ax?selectKey=00126380',
 '/dsaf001/main.do?rcpNo=20170331004518',
 '/dsae001/selectPopup.ax?selectKey=00855093',
 '/dsaf001/main.do?rcpNo=20170809000091',
 '/dsae001/selectPopup.ax?selectKey=00164812',
 '/dsaf001/main.do?rcpNo=20170808000375',
 '/dsae001/selectPopup.ax?selectKey=00309503',
 '/dsaf001/main.do?rcpNo=20170803800001']

In [69]:
[url[:-1] + href   for href in hrefs    if href[9:13] == 'main']

['http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170515003806',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170331004518',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170809000091',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808000375',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170803800001']

### 03 Web 페이지의 상세정보 가져오기
for 반복문으로 정렬 및 위 테이블이 이어 붙이기

In [88]:
url = 'http://dart.fss.or.kr/'
div = ["tab1c1", 'tab1c2',  'tab1c3',  'tab1c4']
response = requests.get(url)
html = fromstring(response.text)
result = []
for di in div:
    hrefs = html.xpath('//div[@id="'+di+'"]//tr/td/a/@href')
    hrefs = [url[:-1] + href   for href in hrefs    if href[9:13] == 'main']
    result = result + hrefs
result

['http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170515003806',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170331004518',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170809000091',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808000375',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170803800001',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808000123',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170809000151',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900012',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900106',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808800226',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900067',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808800176',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170809900243',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900262',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170801000422',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900105',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900132',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900196',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900080',
 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20170808900147']

In [90]:
df['urls'] = result
df

,순위,회사명,보고서명,urls
0,1,삼성전자,분기보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
1,2,삼성전자,사업보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
2,3,선진,반기보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
3,4,현대종합상사,반기보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
4,5,한국항공우주,풍문또는보도에대한해명(미확정),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
0,6,대화제약,반기보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
1,7,HB테크놀러지,반기보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
2,8,컴투스,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
3,9,파라다이스,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
4,10,CS홀딩스,영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
0,11,이테크건설,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
1,12,한국토지신탁,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
2,13,CJ E&M,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
3,14,와이지-원,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
4,15,롯데쇼핑,반기보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
0,16,파라다이스,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
1,17,테라세미콘,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
2,18,모다이노칩,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
3,19,인바디,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
4,20,이녹스첨단소재,연결재무제표기준영업(잠정)실적(공정공시),http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...

## Quiz
    url = 'http://datalab.naver.com/keyword/realtimeList.naver'
    '//ul[@class="rank_list"]/li/a/span[@class="title"]/text()'
    를 활용해서 naver 실시간 검색어를 [ list ] 로 출력하시요

In [104]:
url = 'http://datalab.naver.com/keyword/realtimeList.naver'
response = requests.get(url)
html = fromstring(response.text)
texts = html.xpath('//ul[@class="rank_list"]/li/a/span[@class="title"]/text()')
texts[:20]

['구기동',
 '애나벨',
 '엠카운트다운',
 '김소영 아나운서',
 '선미',
 '게임빌',
 '죽어야 사는 남자',
 '맨홀',
 '위택스',
 '김형준',
 '크리미널마인드',
 '인터파크티켓',
 '내일날씨',
 '인터넷지로',
 '북한',
 '임성빈',
 '기업은행 채용',
 '신다은',
 '검찰인사',
 '호산']

## 8 Sqlite3 
자료를 DB로 저장하기..

PostgreSQL 을 많이 쓴다.. 대용량 처리에 유용하고, sql 문법으로 다양한 처리가 가능, 그리고 무료다....

Excel 처럼 가볍게 쓰기에는 Google Sheet 도 좋다 (하지만 Setting 이 좀 까다롭고, upload에 시간이 오래 걸린다)

### 01 SQLite
파일 생성 및 시작하기

In [142]:
import sqlite3
con = sqlite3.connect('./sqlite.db')
sqlite3.collections # DB 파일을 생성한다

In [143]:
print(sqlite3.version)
print(sqlite3.sqlite_version)
print(type(con))

2.6.0
3.16.2
<class 'sqlite3.Connection'>

### 02 Cursor1 - 데이터 생성하기
SQL 명령을 전달하는 객체

In [145]:
# SQL 객체를 연결하고, 구문을 활성화
# Excel 의 WorkBook 생성 및 연결
con = sqlite3.connect('./sqlite.db')
cursor = con.cursor()

In [146]:
# 테이블 생성 (Excel 의 Sheet 생성)
cursor.execute("create Table KAKAO (Data text, Open int, High int, Low int, Close int, Volumn int)")
# 내용 2줄을 추가한다 (SQL 문법 언어를 String으로 입력) - 문법검사는 비활성화
cursor.execute("INSERT INTO KAKAO Values('16.06.03', 97000, 98600, 96900, 98000, 321405)")
cursor.execute("INSERT INTO KAKAO Values('16.06.02', 95000, 94600, 91900, 96000, 121405)")

In [147]:
# 지금까지 수정한 내용을 DB에 반영하고 연결을 닫는다.
# (saving from Python to Sqlite)
con.commit()
con.close()

### 03 Cursor 2 - 데이터 불러오기
SQL 명령을 전달하는 객체

In [152]:
# SQL 구문을 호충
import sqlite3
con = sqlite3.connect('./sqlite.db')
cursor = con.cursor()

In [153]:
# Row 단위로 데이터 호출 (자료를 1줄씩 불러온다)
cursor.execute("SELECT * From KAKAO")
cursor.fetchone()

('16.06.03', 97000, 98600, 96900, 98000, 321405)

In [154]:
# 해당 table 의 전체자료 불러오기
# 위 1줄을 이미 불러온 상태여서 다음 줄 부터만 불러온다
cursor.fetchall()

[('16.06.02', 95000, 94600, 91900, 96000, 121405)]

In [155]:
# Row 전체를 불러오기
# 테이블 커서를 초기화 (맨 위로 회귀하기 위해서 다시 불러온다)
cursor.execute("SELECT * From KAKAO") 
cursor.fetchall()

[('16.06.03', 97000, 98600, 96900, 98000, 321405),
 ('16.06.02', 95000, 94600, 91900, 96000, 121405)]

In [151]:
# 지금까지 수정한 내용을 DB에 반영하고 연결을 닫는다.
# (saving from Python to Sqlite)
con.commit()
con.close()

### 04 Indexing and Slicing
데이터 가공하기

In [156]:
# Row 전체를 불러온 뒤 indexing
# 한 테이블의 데이터를 자유자재로 타루기에 용이하다
cursor.execute("SELECT * From KAKAO") # 테이블 커서를 초기화 (맨 위로 회귀)
kakao = cursor.fetchall()
kakao[0][0]  # [row] [column]  # 전체 테이블 내용을 선별해서 호출

'16.06.03'

In [157]:
kakao[0][1:] # 해당 객체를 반복적으로 활용시에 용이 (위에선 cursor위치별 데이터가 다름에 비해 편리하다)
             # 단 메모리에 데이터를 모두 올리고 사용하는 것이여서, table 이 큰 경우에는 무리가 있을 수 있다.

(97000, 98600, 96900, 98000, 321405)

### 05 With Pandas 
by sqlite3
- https://stackoverflow.com/questions/24189150/pandas-writing-dataframe-to-other-postgresql-schema

### Writing Data

In [158]:
import pandas as pd
raw_data = {'col0':[1,2,3,4], 'col1':[10,20,30,40], 'col2':[100,200,300,400]}
df = pd.DataFrame(raw_data)

In [159]:
# DataFrame 을 SQlite3 에 저장하기
import sqlite3
con = sqlite3.connect("./sqlite.db")
df.to_sql('DataFrame',con)  # Pandas 에서 바로 연결되어서 저장

In [167]:
con.commit()
con.close()

### Reading  Data

In [165]:
con = sqlite3.connect("./sqlite.db")
df = pd.read_sql("Select * from KAKAO", con, index_col=None)
df  # Index 값이 추가된 테이블이 생성

       Data   Open   High    Low  Close  Volumn
0  16.06.03  97000  98600  96900  98000  321405
1  16.06.02  95000  94600  91900  96000  121405

In [170]:
df = pd.read_sql("Select * from DataFrame", con, index_col=None)
df  # Index 값이 추가된 테이블이 생성

   index  col0  col1  col2
0      0     1    10   100
1      1     2    20   200
2      2     3    30   300
3      3     4    40   400

In [171]:
con.commit()
con.close()

### 06 Sqlite with Stock Data
by Pandas_datareader

In [172]:
from pandas_datareader import get_data_google
df = get_data_google("KRX:005930", '2010-1-1', '2017-7-10')

In [173]:
# Write Sqlite3
con = sqlite3.connect('./sqlite.db')
df.to_sql('samsung', con, if_exists = 'replace') # 기존 자료를 지우고 새롭게 저장

In [ ]:
# if_exists = 
# fail: (기존 자료가 있으면 저장하지 않는다) If table exists, do nothing.
# replace: (지우고 새롭게 저장) If table exists, drop it, recreate it, and insert data.
# append: (내용을 추가) If table exists, insert data. Create if does not exist.

In [174]:
# Read Sqlite3
read_df = pd.read_sql("select * from 'samsung'",con , index_col='Date')
print(read_df.tail(5))

                          Open       High        Low      Close  Volume
Date
2017-07-04 00:00:00  2358000.0  2370000.0  2345000.0  2350000.0  157562
2017-07-05 00:00:00  2341000.0  2384000.0  2339000.0  2379000.0  194505
2017-07-06 00:00:00  2400000.0  2405000.0  2386000.0  2403000.0  210773
2017-07-07 00:00:00  2387000.0  2406000.0  2381000.0  2393000.0  160473
2017-07-10 00:00:00  2425000.0  2445000.0  2416000.0  2433000.0  211575

In [175]:
from pandas_datareader import get_data_google
df = get_data_google("KRX:005930", '2017-6-10', '2017-6-14')

In [179]:
# Overwriting Sqlite3
con = sqlite3.connect('./sqlite.db')
df.to_sql('samsung', con, if_exists = 'append')

In [182]:
# Read Sqlite3
read_df = pd.read_sql("select * from 'samsung'",con , index_col='Date')
print(read_df.tail(15))

                          Open       High        Low      Close  Volume
Date
2017-06-23 00:00:00  2380000.0  2389000.0  2371000.0  2381000.0  172622
2017-06-26 00:00:00  2376000.0  2418000.0  2376000.0  2414000.0  160857
2017-06-27 00:00:00  2411000.0  2420000.0  2395000.0  2415000.0  187532
2017-06-28 00:00:00  2380000.0  2400000.0  2378000.0  2385000.0  188156
2017-06-29 00:00:00  2402000.0  2416000.0  2397000.0  2397000.0  159859
2017-06-30 00:00:00  2375000.0  2381000.0  2355000.0  2377000.0  234972
2017-07-03 00:00:00  2375000.0  2389000.0  2356000.0  2361000.0  135870
2017-07-04 00:00:00  2358000.0  2370000.0  2345000.0  2350000.0  157562
2017-07-05 00:00:00  2341000.0  2384000.0  2339000.0  2379000.0  194505
2017-07-06 00:00:00  2400000.0  2405000.0  2386000.0  2403000.0  210773
2017-07-07 00:00:00  2387000.0  2406000.0  2381000.0  2393000.0  160473
2017-07-10 00:00:00  2425000.0  2445000.0  2416000.0  2433000.0  211575
2017-06-12 00:00:00  2271000.0  2280000.0  2257000.0  2269000.0  217181
2017-06-13 00:00:00  2257000.0  2281000.0  2257000.0  2270000.0  167722
2017-06-14 00:00:00  2290000.0  2303000.0  2262000.0  2268000.0  194743

#### Appendix   Google Sheet 와 연동하기
실무에서 DB 는 SQL 서버를 통해서 자료를 저장하고

기본적인 작업은 SQL 문법을 통해서 간단한 편집등을 한다

### https://developers.google.com/sheets/api/quickstart/python#step_1_turn_on_the_api_name

In [ ]:
# pip3 install --upgrade google-api-python-client  # 필요한 모듈을 설치한다

# https://www.youtube.com/watch?v=vISRn5qFrkM
# https://developers.google.com/sheets/api/quickstart/python

In [ ]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

scope = ['https://spreadsheets.google.com/feeds']
creds = ServiceAccountCredentials.from_json_keyfile_name('./My Project-a0acxxxxx.json',scope)
client = gspread.authorize(creds)        # API 연결인증
sheet = client.open('Code_Yahoo').sheet1 # G-sheet '시트이름' 연결
# Sheet 의 전체데이터 DataFrame으로 불러오기
sheet_data = sheet.get_all_records()
df = pd.DataFrame(sheet_data)

In [ ]:
# 결측치 처리
# 시계열 데이터 생성 수정 변경 삽입 index에 포함
# 데이터 수정과  reduce , map, lambda , pickle (중간 객체 저장)
# Web Cawling   by xpath   pd.concat()  pd.merge()
# 계층적 Table
# Google Sheet 와 연동
# matplotlib 와 시각화

In [ ]:
# 확장된 회계등식 (매개변수의 활용예제)
# 자산(현금) + 비용 = 부채 + 자본(자본금) + 수익

# 자산 = 부채 + 자본 + 수익 - 비용 (수익 - 비용 = 당기순이익)
# 자산 = 부채 + 자본 + 당기순이익

In [ ]:
## 분개 (tuple list의 활용예제)
# asset(자산) = 
# Debit(차변) 
# credit(대변)
# Cost(비용)
# Capital(자본)

In [106]:
my_list = [(True, 10), (False, 20), (True,30)]

In [107]:
for idx in my_list:
    if idx[0] == True:
        print(idx)

(True, 10)
(True, 30)

In [108]:
# tuple 은 여러개 모두 가능 
# 하지만 실무에선 list를 더 많이 쓴다 ## tuple 은 Overwriting (수정) 이 불가능
a = (1,2,'a')
len(a)

3

In [109]:
a[2]

'a'

In [110]:
Day170101 = {'Debit':{'Cash':100_000_000},
             'Credit':{'Capital':100_000_000}}

In [111]:
Day170102 = {'Debit':{'Lease':1_000_000},
             'Credit':{'Cash':1_000_000}}

In [112]:
Day170103 = {'Debit':{'Trans_cost':1_500_000},
             'Credit':{'Cash':1_500_000}}

In [113]:
Day170104 = {'Debit':{'Payment':700_000},
             'Credit':{'Cash':700_000}}

In [114]:
Day170105 = {'Debit':{'Machine':9_000_000},
             'Credit':{'Cash_payable':9_000_000}}

In [115]:
# Merging Data to List
date = [Day170101, Day170102, Day170103, Day170104, Day170105]

result = {}
for day in date:

    for data in day.keys():  # 대변과 차변을 순차적 정리 
        if data not in result:
            result[data] = {}

        for component in day[data]:
            if component not in result[data]:
                result[data][component] = day[data][component]  
            else:
                result[data][component] += day[data][component]
result

{'Credit': {'Capital': 100000000, 'Cash': 3200000, 'Cash_payable': 9000000},
 'Debit': {'Cash': 100000000,
  'Lease': 1000000,
  'Machine': 9000000,
  'Payment': 700000,
  'Trans_cost': 1500000}}

In [116]:
# 함수로 처리 (return 만 출력, 나머지는 메모리에서 삭제)

def financial_summary(datelist):
    result = {}             # '대변','차변' (정의)
    for day in datelist:    # for 반복문으로 '일별' 처리
         
        for data in day.keys():            # '일별'데이터의 '대변'과 '차변' 순차처리
            if data not in result:         # '계정항목' (신규조건)
                result[data] = {}    

            for component in day[data]:                             # '대변/차변의 계정항목' 데이터 순차처리
                if component not in result[data]:                   # '계정항목' 에 데이터를 입력(신규조건) 
                    result[data][component] = day[data][component]  
                else:                                               # '계정항목' 에 데이터를 추가            
                    result[data][component] += day[data][component]
    return result
date = [Day170101, Day170102, Day170103, Day170104, Day170105]
f_sheet = financial_summary(date)

In [117]:
# Merging Data to DataFrame
import pandas as pd

cols = list(f_sheet.keys())
df = pd.DataFrame(f_sheet, columns=cols)
df

                    Debit       Credit
Capital               NaN  100000000.0
Cash          100000000.0    3200000.0
Cash_payable          NaN    9000000.0
Lease           1000000.0          NaN
Machine         9000000.0          NaN
Payment          700000.0          NaN
Trans_cost      1500000.0          NaN

In [118]:
# DataFrame ',' thousand comma 추가하기
for col in df.columns:
    df[col] = list(map(lambda x: '{:,}'.format(x), list(df[col])))
df

                      Debit         Credit
Capital                 nan  100,000,000.0
Cash          100,000,000.0    3,200,000.0
Cash_payable            nan    9,000,000.0
Lease           1,000,000.0            nan
Machine         9,000,000.0            nan
Payment           700,000.0            nan
Trans_cost      1,500,000.0            nan

## 2 현금 및 현금성자산 분류
31p - 단순 유무만 판단하면 되는건가??

In [119]:
name = {'cash':'현금', 'post':'우표', 'Check_account':'당좌수표',
        'coupon':'이자표', 'div_check':'배당표', 'Certi_deposit': '양도성예금증서'}

In [120]:
A_sheet = {'cash':425_000, 'post' : 10_000, 'Check_account':100_000,
           'coupon':40_000, 'div_check':20_000, 'Certi_deposit': 4_000_000}

In [121]:
full_item = ['cash', 'post', 'Check_account', 'coupon', 'div_check', 'Certi_deposit'] # 재무제표 item 목록
report_item = ['cash', 'Check_account', 'coupon', 'div_check']  # 현금 및 현금성 자산 item 목록 list

In [122]:
# condition = list(name.keys()); condition
# condition = [condition[i] for i in [0,2,3,4]]
# condition
A_sheet

{'Certi_deposit': 4000000,
 'Check_account': 100000,
 'cash': 425000,
 'coupon': 40000,
 'div_check': 20000,
 'post': 10000}

In [123]:
result = {}
for item in report_item:
    result[item] = A_sheet[item]
result

{'Check_account': 100000, 'cash': 425000, 'coupon': 40000, 'div_check': 20000}

## 3 Pandas, Numpy
데이터 정리

In [124]:
# 자료의 입력
# 실제 개별 숫자 입력을 프로그래머가 직접 입력하는 경우는 없다 ===> 알바가 더 잘 하고 유용함... 
# 하지만... 1 수정 및 연산을 하려면 기본적인 구조는 알아야 함
#          2 Web Crawling 등.. 기존에 없는 자료 Table을 생성하는 단계에서 구조설계를 위해 필요
#                             또한 내부 등에서도 오류를 수정 보완을 위한 구조수정을 위해 필요

In [125]:
# 자료형
# 기본 : list, dict, tuple (컴퓨터 연산결과, 자료생성시 잘 사용하지 않는다)
# 확장1(관리_DB) : list  --> dict (index 확장가능 단 순서가 불규칙) 
#                      --> pd.Series (index 확장 및 순서정렬) 
#                      --> pd.DataFrame (index 값이 2 : table)
# 확장2(연산_ML) : list  --> np.array() : Matrix 연산자료 
#                                    string 도 자료는 가능하나,  연산을 위해 float등 숫자를 주로 가능

In [126]:
import pandas as pd
import numpy as np
from pandas import DataFrame ,Series

# Series : list의 확장 모듈 ( index 값을 string 등 다양하게 확장가능)
cash_sheet = Series([4000,3000,3500,2000], index=['cash','cash','check','land'])
cash_sheet

cash     4000
cash     3000
check    3500
land     2000
dtype: int64

### 01. DataFrame
데이터 테이블 만들기

In [127]:
from pandas import Series, DataFrame

item = {'code':[1,2,3,4],             # 재무상태표, 손익계산서, 현금흐름표, 자본변동표
       'f_sheet':['Balance_sheet','Income_sheet','Cash_sheet','Asset_sheet'],
       'item':['bond','cost','cash','asset'],
       'price':[1500,15000,1000,500]} 

DataFrame(item)

   code        f_sheet   item  price
0     1  Balance_sheet   bond   1500
1     2   Income_sheet   cost  15000
2     3     Cash_sheet   cash   1000
3     4    Asset_sheet  asset    500

In [128]:
# DataFrame 의 순서 바꾸기 1   # column 잉름으로 순서바꾸기/ 선별하기 
DataFrame(item, columns=['code','price','item','f_sheet'])

   code  price   item        f_sheet
0     1   1500   bond  Balance_sheet
1     2  15000   cost   Income_sheet
2     3   1000   cash     Cash_sheet
3     4    500  asset    Asset_sheet

In [129]:
# DataFrame 의 순서 바꾸기 2  # column 의 index 로 순서바꾸기/ 선별하기
df = DataFrame(item)
df.iloc[:,[3,2,1,0]]

   price   item        f_sheet  code
0   1500   bond  Balance_sheet     1
1  15000   cost   Income_sheet     2
2   1000   cash     Cash_sheet     3
3    500  asset    Asset_sheet     4

### 02. DataFrame 편집
데이터 테이블 컬럼별 데이터 관리

In [130]:
data = """
일자,적용,입고수량,입고단가,입고금액,출고수량,출고단가,출고금액
2017-03-01,전월이월,5,20000,100000,0,0,0
2017-03-09,매입,15,18000,270000,0,0,0
2017-03-16,매출,0,0,0,5,20000,100000
2017-03-16,매출,0,0,0,5,18000,90000
2017-03-24,매입,20,22000,440000,0,0,0
2017-03-29,매출,0,0,0,10,18000,180000
2017-03-29,매출,0,0,0,2,22000,44000"""

In [131]:
from io import StringIO
import pandas as pd
data = StringIO(data)
df = pd.read_csv(data, sep=","); df

           일자    적용  입고수량   입고단가    입고금액  출고수량   출고단가    출고금액
0  2017-03-01  전월이월     5  20000  100000     0      0       0
1  2017-03-09    매입    15  18000  270000     0      0       0
2  2017-03-16    매출     0      0       0     5  20000  100000
3  2017-03-16    매출     0      0       0     5  18000   90000
4  2017-03-24    매입    20  22000  440000     0      0       0
5  2017-03-29    매출     0      0       0    10  18000  180000
6  2017-03-29    매출     0      0       0     2  22000   44000

In [132]:
df.columns

Index(['일자', '적용', '입고수량', '입고단가', '입고금액', '출고수량', '출고단가', '출고금액'], dtype='object')

In [133]:
df.입고금액.sum()

810000

In [134]:
df.입고금액.cumsum()

0    100000
1    370000
2    370000
3    370000
4    810000
5    810000
6    810000
Name: 입고금액, dtype: int64

In [135]:
df.입고금액.sum() - df.출고금액.sum()

396000

###  선입선출법을 활용한 재고자산 단위원가 결정방법
45p
1. 출고수량의 합계를 구한다.
2. 입고수량의 누적 column 을 구한다.
3. 출고순서 누적 column 을 구한다.
4. 출고순서 누적을 한행씩 밑으로 내리는 shift column 을 구한다.
5. 출고순서_개별 column 을 구한다.
6. 출고금액을 구한다.

## 4 객체지향 프로그래밍
def: 함수적 프로그래밍 --> class: 객체지향 프로그래밍

    1.def : 함수 1개의 사용자 함수명/ 1개의 기능만 가능
    2.class : class 는 여러개 객체 및 여려개 함수를 포함한다 (1개면 함수를 쓰면 됨)
              class 자신을 여러개의 이름으로 분산해서 사용 class 내부 self 매개변수의 역활
              작은 독립적인 프로그래밍 ex) 자동차의 엔진/ 미션/ 반제품들 - 경험이 없어서 이해가 어려움

In [136]:
class Stamp:
    name = 'Erdos Kim'
    def description(self):
        print('%s \'s stamp is good shaped..'%self.name)

In [137]:
a = Stamp()  # class 객체를 생성

In [138]:
a.description()

Erdos Kim 's stamp is good shaped..

In [139]:
rule = set()   #  입력순서를 무시 : default로 정렬

In [140]:
rule.add('B'); rule

{'B'}

In [141]:
rule.add('A'); rule

{'A', 'B'}

    <사례1> 기계장치 A의 장부금액은 ₩80,000이다. 이 기계장치는 ₩88,000으로 재평가되었다.
    직전 재평가시 당기손익으로 인식한 재평가감소액 ₩5,000이 있었다.
    
    자산의 장부금액이 재평가로 인하여 증가된 경우에 그 증가액은 기타포괄손익으로 인식하고
    재평가잉여금의 과목으로 자본에 가산한다. 그러나, 동일한 자산에 대하여 이전에 당기손익으
    로 인식한 재평가감소액이 있다면 그 금액을 한도로 재평가증가액만큼 당기손익으로 인식한다.

    <<회계처리>>>
    (차) 기계장치  (단위:원) 8,000
    (대) 재평가이익(당기손익) 5,000
    재평가잉여금(기타포괄손익) 3,000

    <사례2> 기계장치 B의 장부금액은 ₩60,000이다. 이 기계장치는 ₩50,000으로 재평가되었다.
    직전 재평가로 재평가잉여금이 ₩7,000이 있었다.
    
    2. 자산의 장부금액이 재평가로 인하여 감소된 경우에 그 감소액은 당기손익으로 인식한다. 그러
    나 그 자산에 대한 재평가잉여금의 잔액이 있다면 그 금액을 한도로 재평가감소액을 기타포괄
    손익으로 인식한다. 재평가감소액을 기타포괄손익으로 인식하는 경우 재평가잉여금의 과목으로
    자본에 누계한 금액을 감소시킨다.
    
    <<회계처리 (단위:원)>>
    (차) 재평가잉여금(기타포괄손익) 7,000
    재평가손실(당기손익)          3,000
    (대) 기계장치              10,000

    <사례3> 기계장치 B의 장부금액은 ₩56,000이다. 이 기계장치는 ₩50,000으로 재평가되었다.
    직전 재평가로 재평가잉여금이 ₩7,000이 있었다.
    
    자산의 장부금액이 재평가로 인하여 감소된 경우에 그 감소액은 당기순익으로 인식한다. 그러
    나 그 자산에 대한 재평가잉여금의 잔액이 있다면 그 금액을 한도로 재평가감소액을 기타포괄
    손익으로 인식한다. 재평가감소액을 기타포괄손익으로 인식하는 경우 재평가잉여금의 과목으로
    자본에 누계한 금액을 감소시킨다.

    <<회계처리 (단위:원)>>
    (차) 재평가잉여금(기타포괄손익)  6,000
    (대) 기계장치                6,000

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
iris_dataset = load_iris()

In [ ]:
iris_dataset.keys()

In [ ]:
iris_dataset['data']

In [ ]:
from sklearn.lda import LDA
lda = LDA(n_components = 2)

In [ ]:
X_train_lda = lda.fit_transform(X_train_lda, y_)

In [ ]:
name_mask = {'cash':True, 'post':False, 'Check_account':True,
        'coupon':True, 'div_check':True, 'Certi_deposit':False}

In [ ]:
A_sheet

In [ ]:
list(name.keys())

In [ ]:
df.columns[0] = list(map(lambda x: '{:,}'.format(x), list(df[df.columns[0]])))

In [ ]:
result['Credit']

In [ ]:
# 이를 실행 후 함수로 만들기

In [ ]:
Day170102

In [ ]:
a = 1000000
a

In [ ]:
print("{:2f}".format(10000))

In [ ]:
## [list]
list()

In [ ]:
a = []

In [ ]:
a.append('test')